<p id="notice"><%= notice %></p>

<h1>Listing Spree Owls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_owls.each do |spree_owl| %>
      <tr>
        <td><%= link_to 'Show', spree_owl %></td>
        <td><%= link_to 'Edit', edit_spree_owl_path(spree_owl) %></td>
        <td><%= link_to 'Destroy', spree_owl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owl', new_spree_owl_path %>
