<p id="notice"><%= notice %></p>

<h1>Listing Spree Admin Parliaments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parliaments.each do |parliament| %>
      <tr>
        <td><%= parliament.name %></td>
        <td><%= link_to 'Show', parliament %></td>
        <td><%= link_to 'Edit', edit_admin_parliament_path(parliament) %></td>
        <td><%= link_to 'Destroy', admin_parliament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parliament', new_admin_parliament_path %>
