<% content_for :page_title do %>
  <%= link_to(Spree.t(:name, scope: :owls), admin_parliaments_url) %> / <%= @parliament.name %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_slide, scope: :contents), 
        new_admin_parliament_owl_url(@parliament), 
        { :class => "btn-success", :icon => 'add', :id => 'admin_new_content' } %>
  <%# link_to_with_icon 'translate', nil, admin_translations_path('parliament', @parliament.id), title: Spree.t(:'i18n.translations'), class: 'btn btn-sm btn-primary' if can?(:translate, Spree::Parliament) %>
<% end if can?(:create, Spree::Parliament) %>

<% if @owls.any? %>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <small>Drag thumbs to sort, click them to edit</small>
        <button class="hidden btn btn-success btn-xs" id="update-sorting">Save new order</button>
      </p>
    </div>
    <div class="col-sm-12">
      <ul id="carousel-thumbs" class="ui-sortable list-inline carousel-thumbs">
        <%- @owls.each do |slide| -%>
          <%= render partial: "spree/admin/owls/thumb_#{slide.slide_type}", locals: { slide: slide } %>
        <%- end -%>
      </ul>
    </div>
    <div class="col-md-8 text-center carousel-viewport">
      <div id="<%= spree_dom_id @parliament %>" class="carousel" data-carousel data-sorting-url="<%= sort_admin_parliament_owls_url(@parliament) %>">
      <%- @owls.each do |slide| -%>
        <%= render partial: "spree/owls/slide_#{slide.slide_type}", locals: { slide: slide } %>
      <%- end -%>
      </div>
    </div>
    <div class="col-md-4">
      <p><i class="fa fa-bomb"></i> <small>some settings like, speed, transitions etc to come here soon...</small></p>
      <%#= render partial: "carousel_settings" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var Carousel = {
      element: function(){
        return $("[data-carousel]");
      },
      items: function(){
        return this.element().find('.carousel-slide-item');
      },
      state: {
        unfinished: false
      },
      start: function() {
        this.element().slick({
          dots: true,
          arrows: true,
          infinite: true,
          speed: 500,
          fade: true,
          cssEase: 'linear',
          autoplay: true,
          autoplaySpeed: 3000,
        });
      }, 
      stop: function(){
        this.element().slick('unslick');
        return this.element();
      }
    };
    Carousel.start();
    window.Spree.Carousel = Carousel;
  });
</script>