<% content_for :page_title do %>
  <%= link_to(Spree.t(:name, scope: :owls), admin_parliaments_url) %> / <%= @parliament.name %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_slide, scope: :contents), 
        new_admin_parliament_owl_url(@parliament), 
        { :class => "btn-success", :icon => 'add', :id => 'admin_new_content' } %>
  <%# link_to_with_icon 'translate', nil, admin_translations_path('parliament', @parliament.id), title: Spree.t(:'i18n.translations'), class: 'btn btn-sm btn-primary' if can?(:translate, Spree::Parliament) %>
<% end if can?(:create, Spree::Parliament) %>

<div class="row">
  <div class="col-md-8 text-center carousel-viewport">
    <% if @owls.any? %>
      <div id="<%= spree_dom_id @parliament %>" class="carousel">
      <%- @owls.each do |slide| -%>
        <%= render_slide(slide) %>
      <%- end -%>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render partial: "carousel_settings" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    // $("#<%= spree_dom_id @parliament %>").owlCarousel({
    //   navigation : true, // Show next and prev buttons
    //   slideSpeed : 300,
    //   paginationSpeed : 400,
    //   singleItem:true
    // });
    $("#<%= spree_dom_id @parliament %>").slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 5000,
    });
  });
</script>