<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @slide } %>

<% content_for :page_title do %>
  <%= link_to(Spree.t(:name, scope: :slides), admin_carousels_url) %> / <%= link_to @carousel.name, admin_carousel_url(@carousel) %> / Slide <%= @slide.position %>
<% end %>

<%= form_for [:admin, @carousel, @slide], html: { multipart: true } do |f| %>
  <fieldset data-hook="new_image">
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.admin_carousel_slides_url(@carousel), icon: 'delete', id: 'cancel_link' %>
    </div>
  </fieldset>
<% end %>